layout {
    pane split_direction="vertical" {
        pane name="OBS" size="70%" command="python3" close_on_exit=false {
            args "obs2/scripts/dev.py" "--pane" "obs"
        }
        pane size="30%" split_direction="horizontal" {
            pane name="Frontend" command="python3" close_on_exit=false {
                args "obs2/scripts/dev.py" "--pane" "frontend"
            }
            pane name="Backend" command="python3" close_on_exit=false {
                args "obs2/scripts/dev.py" "--pane" "backend"
            }
        }
    }
}
