# either "en" or "jp"
GE_LANG="en"
OBS_SOURCE_NAME="name-of-your-source-here"
OBS_PASSWORD="copy-your-obs-password-here"
#LLAMA_EXTRA_ARGS="--device Vulkan1"

# if opencv is not in a standard location, set these variables before `just setup`
#OPENCV_INCLUDE_DIR="path/to/opencv/include"
#OPENCV_LIB_DIR="path/to/opencv/lib"

# Optional for sending YouTube stream notifications to a Discord channel:
#DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/..."
# Optionally set the name that will appear in the Discord message:
#DISCORD_MESSAGE_NAME="Perfect Jace"
