# either "en" or "jp"
GE_LANG=en
OBS_SOURCE_NAME=name-of-your-source-here
OBS_PASSWORD=copy-your-obs-password-here
#LLAMA_EXTRA_ARGS=...
GOOGLE_CLIENT_ID=copy-your-google-client-id-here
GOOGLE_CLIENT_SECRET=copy-your-google-client-secret-here